.content {
  position: relative;
}
.contentLoading {
  composes: content;
}
.contentLoading {
  filter: blur(3px);
}

@media screen and (min-width: 768px) {

  .content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

}